:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

*{
     margin: 0;
     padding: 0;
     font-family: "Poppins",sans-serif;
     box-sizing: border-box;
}
/*
body{
     width: 100%;
     min-height: 100vh;
     
     background-image: url('view.jpg');
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     position: relative;

}*/

body{
     min-height: 100vh;
     background: #374151;
     overflow: scroll;
}
header{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 100px;

     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 99;
}

header .logo{
     color: #fff;
     font-weight: 700;
     text-decoration: none;
     font-size: 2em;
     text-transform: uppercase;
     letter-spacing: 2px;
     user-select: none;
}

header ul{
     display: flex;
     justify-content: center;
     align-items: center;
}

header ul li{
     list-style: none;
     margin-left: 20px;
}

header ul li a{
     text-decoration: none;
     padding: 6px 15px;
     color: #fff;
     border-radius: 20px;
}

header ul li a:hover,.active{
     background: #fff;
     color: #2b1055;
}

header button{
     background: transparent;
     color: #fff;
     width: 100px;
     height: 30px;
     border-radius: 20px;
     border: 2px solid white;
     outline: 0;
     cursor: pointer;
     transition: background 1s;
     margin-left: 20px;
     font-size: 16px;
}

header button:hover{
     background: #fff;
     color: #2b1055;

}


.addDiv{
     position: relative;
     top: 150px;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 600px;
     height: min-content;
     background: var(--dark);
     /*border-radius: 5px;
     border: 2px solid rgba(255, 255, 255,.5);
     backdrop-filter: blur(20px);
     box-shadow: 0 0 30px rgba(0,0,0,.5);*/
     justify-content: center;
     align-items: center;
     transition: transform .5s ease;
     padding: 10px;
}

.addDiv h2{
     margin-bottom: 10px;
     font-size: 2em;
     text-align: center;
     background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
     opacity: 0.75;
     transition: opacity 1s ease ;
}

.addDiv h2:hover{
     opacity: 1;
     /*text-shadow: 0 0 10px #EC4899, 0 0 10px #8B5CF6, 0 0 10px #EC4899, 0 0 10px #8B5CF6;*/
}

#newEntry-form {
	display: flex;;
}

.addDiv input {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

.addDiv input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 0.8rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1rem;
}

.addDiv input::placeholder {
	color: var(--grey);
}

.addDiv button{
     outline: none;
     border-radius: 20px;
     color: var(--pink);
	font-size: 1rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
     
	cursor: pointer;
	transition: 0.4s;
     width: 100px;
}

.addDiv button:hover {
	opacity: 0.8;
}

.addDiv button:active {
	opacity: 0.6;
}

.listDiv{
     position: absolute;
     top: 250px;
     left: 50%;
     transform: translateX(-50%);
     width: max-content;
     height: min-content;
     background: var(--darker);
     border-radius: 10px;/*
     border: 2px solid rgba(255, 255, 255,.5);
     backdrop-filter: blur(20px);
     box-shadow: 0 0 30px rgba(0,0,0,.5);*/
     justify-content: center;
     align-items: center;
     padding: 10px;
     
}
/*
.heading{
     display: flex;
     justify-content: space-evenly;
}

.heading h3{
     background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
     font-size: 1em;
}*/

#thetable{
     border-collapse: collapse;
}

.item{
     padding: 10px;
     color: var(--light);
     border-left: 2.5px solid var(--grey);
     border-bottom: 2.5px solid var(--grey);
     font-size: 1em;
     font-weight: 750;
     background-color: var(--darker);
     transition: opacity 0.7s ease;
}

.item:hover{
     background-color: var(--grey);
}

.firstData{
     padding: 10px;
     color: var(--light);
     border-left: 0px solid var(--grey);
     border-bottom: 2.5px solid var(--grey);
     font-size: 1em;
     font-weight: 750;
     background-color: var(--darker);
     transition: opacity 0.7s ease;
}

.firstData:hover{
     background-color: var(--grey);
}


.listDiv .headerTable th{
     text-align: center;
     /*background-image: linear-gradient(to right, var(--pink), var(--purple));*/
     background: linear-gradient(
            to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
     font-size: 1em;
     font-weight: 750;
     width: 150px;
     margin-bottom: 20px;
     border-left: 2.5px solid var(--grey);
     border-bottom: 2.5px solid var(--grey);
     padding: 8px;
     transition: background 3s ease;
}
/*
.listDiv .headerTable th:hover{
     background: linear-gradient(
            to right, var(--purple), var(--pink));
     -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}*/

#firstHeader{
     border-left: 0px solid var(--grey);
}

